<div class="main-container">
  <mat-drawer-container
    style="width: 100%; height: 100vh"
    class="tw-h-full tw-w-full"
  >
    <mat-sidenav-container class="app-sidenav-container">
      <mat-sidenav
        [opened]="leftSideNavOpen"
        mode="side"
        class="width-fit-content left-sidenav"
      >
        <app-left-sidebar></app-left-sidebar>
      </mat-sidenav>
      <mat-sidenav
        [opened]="rightSideNavOpen"
        mode="side"
        position="end"
        class="right-sidenav"
      >
        <app-right-sidebar></app-right-sidebar>
      </mat-sidenav>
      <div class="content-wrapper">
        <app-common-header
          *ngIf="showHeader"
          [heading]="heading"
        ></app-common-header>
        <div class="content">
          <app-notifications-center></app-notifications-center>
        </div>
      </div>
    </mat-sidenav-container>
    <mat-drawer #matDrawerEnd mode="over" position="end">
      <ng-container *ngTemplateOutlet="drawerEndTemplate"></ng-container>
    </mat-drawer>
  </mat-drawer-container>
</div>
